coursera_ds/a0_m2_flow2.json
[{"id":"fedd1a76.b3a068","type":"ibmiot in","z":"ab34f229.b542","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":86,"y":161.75,"wires":[["1c9ca176.2511a7"]]},{"id":"3cdc7c2c.ac6a74","type":"cloudant out","z":"ab34f229.b542","name":"","cloudant":"","database":"washing","service":"1234thisIsMyName-cloudantNoSQLDB","payonly":true,"operation":"insert","x":593,"y":291.75,"wires":[]},{"id":"83027648.74039","type":"debug","z":"ab34f229.b542","name":"","active":true,"console":"false","complete":"payload","x":679,"y":156,"wires":[]},{"id":"1c9ca176.2511a7","type":"function","z":"ab34f229.b542","name":"flatten schema","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":190.25,"wires":[["6d7d5e9f.cba2d"]]},{"id":"6d7d5e9f.cba2d","type":"function","z":"ab34f229.b542","name":"limit to max 5000 entries","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count < 500000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":245,"y":275.75,"wires":[["83027648.74039"]]}]
