coursera_ds/a0_m2_flow2.json
[{
	"id": "c79ed0ea.61626",
	"type": "ibmiot in",
	"z": "337dde6f.480cd2",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "",
	"applicationId": "",
	"deviceType": "+",
	"eventType": "+",
	"commandType": "",
	"format": "json",
	"name": "IBM IoT",
	"service": "registered",
	"allDevices": "",
	"allApplications": "",
	"allDeviceTypes": true,
	"allEvents": true,
	"allCommands": "",
	"allFormats": "",
	"qos": 0,
	"x": 155,
	"y": 167,
	"wires": [
		["8aea36b9.bf1d8"]
	]
}, {
	"id": "b24b288a.857bf",
	"type": "cloudant out",
	"z": "337dde6f.480cd2",
	"name": "",
	"cloudant": "",
	"database": "washing",
	"service": "1234thisIsMyName-cloudantNoSQLDB",
	"payonly": true,
	"operation": "insert",
	"x": 662,
	"y": 297,
	"wires": []
}, {
	"id": "7f94254a.6635bc",
	"type": "debug",
	"z": "337dde6f.480cd2",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 748,
	"y": 161.25,
	"wires": []
}, {
	"id": "8aea36b9.bf1d8",
	"type": "function",
	"z": "337dde6f.480cd2",
	"name": "flatten schema",
	"func": "msg.payload = msg.payload.d;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 360,
	"y": 195.5,
	"wires": [
		["676c98a2.2248"]
	]
}, {
	"id": "676c98a2.2248",
	"type": "function",
	"z": "337dde6f.480cd2",
	"name": "limit to max 5000 entries",
	"func": "var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count < 5000) {\n   return msg; \n}\n\n",
	"outputs": 1,
	"noerr": 0,
	"x": 314,
	"y": 281,
	"wires": [
		["7f94254a.6635bc"]
	]
}]
