coursera_ai/week3/simulator/simulatorflow.json
[{"id":"d5b9913.711ce7","type":"inject","z":"1aa0e746.d1fd11","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.01","crontab":"","once":false,"x":237,"y":111.75,"wires":[["1aa7a47d.5c129c"]]},{"id":"1aa7a47d.5c129c","type":"function","z":"1aa0e746.d1fd11","name":"","func":"var h = context.global.get('h')||0.008;\nvar a = context.global.get('a')||10;\nvar b = context.global.get('b')||28;\nvar c = context.global.get('c')||8/3;\nvar x = context.global.get('x')||2;\nvar y = context.global.get('y')||3;\nvar z = context.global.get('z')||4;\n\n\nx+=h*a*(y-x)\ny+=h*(x*(b-z)-y)\nz+=h*(x*y-c*z)\n\n\ncontext.global.set(\"x\",x);\ncontext.global.set(\"y\",y);\ncontext.global.set(\"z\",z);\nmsg.payload={};\nmsg.payload.x=x;\nmsg.payload.y=y;\nmsg.payload.z=z;\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":118.25,"wires":[["98c99198.87fa2","d14575b2.00c94"]]},{"id":"98c99198.87fa2","type":"debug","z":"1aa0e746.d1fd11","name":"","active":false,"console":"false","complete":"false","x":603,"y":107,"wires":[]},{"id":"bccc843d.a80238","type":"ibmiot out","z":"1aa0e746.d1fd11","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"osc","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":808,"y":227,"wires":[]},{"id":"d5c0a876.34ab98","type":"ibmiot in","z":"1aa0e746.d1fd11","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":543,"y":305.75,"wires":[["3944ab9c.e5fdac"]]},{"id":"3944ab9c.e5fdac","type":"debug","z":"1aa0e746.d1fd11","name":"","active":true,"console":"false","complete":"false","x":690,"y":343,"wires":[]},{"id":"955dad4a.a8d0f8","type":"inject","z":"1aa0e746.d1fd11","name":"healthy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":177,"y":185.75,"wires":[["10e783c4.ad7014"]]},{"id":"7e39a96.4739858","type":"inject","z":"1aa0e746.d1fd11","name":"broken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179,"y":242.75,"wires":[["3d7f4f45.db9e"]]},{"id":"10e783c4.ad7014","type":"function","z":"1aa0e746.d1fd11","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',10);\ncontext.global.set('b',28);\ncontext.global.set('c',8/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":183.25,"wires":[["1b9b2cc3.b978db"]]},{"id":"3d7f4f45.db9e","type":"function","z":"1aa0e746.d1fd11","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',30);\ncontext.global.set('b',128);\ncontext.global.set('c',28/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":297.25,"wires":[["1b9b2cc3.b978db"]]},{"id":"d14575b2.00c94","type":"function","z":"1aa0e746.d1fd11","name":"limit to max 3000 ","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count <= 3000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":668,"y":177.75,"wires":[["bccc843d.a80238"]]},{"id":"f2506e37.b54eb","type":"function","z":"1aa0e746.d1fd11","name":"","func":"context.global.set('count',0);\nmsg.payload=context.global.get('count');\ncontext.global.set(\"x\",2);\ncontext.global.set(\"y\",3);\ncontext.global.set(\"z\",4);\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":573.75,"wires":[["1b9b2cc3.b978db"]]},{"id":"6a522907.bf8198","type":"inject","z":"1aa0e746.d1fd11","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165,"y":459.25,"wires":[["f2506e37.b54eb"]]},{"id":"1b9b2cc3.b978db","type":"debug","z":"1aa0e746.d1fd11","name":"","active":true,"console":"false","complete":"false","x":415.5,"y":565.25,"wires":[]}]
