coursera_ai/week3/simulator/simulatorflowfailover.json
[{"id":"fb59b376.c78c48","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"x":150,"y":160,"wires":[["2e5a0a12.602e5e"]]},{"id":"2e5a0a12.602e5e","type":"function","z":"deb0d57.1c46528","name":"","func":"var h = context.global.get('h')||0.008;\nvar a = context.global.get('a')||10;\nvar b = context.global.get('b')||28;\nvar c = context.global.get('c')||8/3;\nvar x = context.global.get('x')||2;\nvar y = context.global.get('y')||3;\nvar z = context.global.get('z')||4;\n\n\nx+=h*a*(y-x)\ny+=h*(x*(b-z)-y)\nz+=h*(x*y-c*z)\n\n\ncontext.global.set(\"x\",x);\ncontext.global.set(\"y\",y);\ncontext.global.set(\"z\",z);\nmsg.payload={};\nmsg.payload.x=x;\nmsg.payload.y=y;\nmsg.payload.z=z;\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":166.5,"wires":[["15902a1f.ef502e","ed268166.bbdfc","e5bb0880.eb34a8","c4affd70.d0ae78","80589876.060ec"]]},{"id":"15902a1f.ef502e","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"false","x":516,"y":155.25,"wires":[]},{"id":"ed268166.bbdfc","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.payload=msg.payload.x;\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":294.5,"wires":[[]]},{"id":"e5bb0880.eb34a8","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.payload=msg.payload.y;\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":395.5,"wires":[[]]},{"id":"c4affd70.d0ae78","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.payload=msg.payload.z;\nreturn msg;","outputs":1,"noerr":0,"x":247,"y":518.5,"wires":[[]]},{"id":"1e8ab7ea.09f1c8","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"osc","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":287.25,"wires":[]},{"id":"2187ded9.cdff5a","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":692,"y":369,"wires":[["11096709.140329"]]},{"id":"11096709.140329","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"false","x":825,"y":407.25,"wires":[]},{"id":"86ef0efe.c737f","type":"inject","z":"deb0d57.1c46528","name":"healthy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":234,"wires":[["f3614de8.89d12"]]},{"id":"f8f3aeed.c0b7b","type":"inject","z":"deb0d57.1c46528","name":"broken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":291,"wires":[["a2b99aef.f7f2d"]]},{"id":"f3614de8.89d12","type":"function","z":"deb0d57.1c46528","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',10);\ncontext.global.set('b',28);\ncontext.global.set('c',8/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":223,"y":231.5,"wires":[["bfe00570.cb1f28"]]},{"id":"a2b99aef.f7f2d","type":"function","z":"deb0d57.1c46528","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',30);\ncontext.global.set('b',128);\ncontext.global.set('c',28/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":182,"y":345.5,"wires":[["bfe00570.cb1f28"]]},{"id":"80589876.060ec","type":"function","z":"deb0d57.1c46528","name":"limit to max 3000 ","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count <= 3000) {\n   return msg; \n}\n\nreturn msg; ","outputs":1,"noerr":0,"x":581,"y":226,"wires":[["1e8ab7ea.09f1c8"]]},{"id":"66a45401.498e4c","type":"function","z":"deb0d57.1c46528","name":"","func":"context.global.set('count',0);\nmsg.payload=context.global.get('count');\ncontext.global.set(\"x\",2);\ncontext.global.set(\"y\",3);\ncontext.global.set(\"z\",4);\nreturn msg;","outputs":1,"noerr":0,"x":179,"y":622,"wires":[["bfe00570.cb1f28"]]},{"id":"2926e6a3.11aa7a","type":"inject","z":"deb0d57.1c46528","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":78,"y":504.5,"wires":[["66a45401.498e4c"]]},{"id":"bfe00570.cb1f28","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"false","x":328.5,"y":613.5,"wires":[]},{"id":"474ce6d8.a97888","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"alert","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":663,"y":494.25,"wires":[["3eb3316c.1ee83e"]]},{"id":"3eb3316c.1ee83e","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"false","x":796,"y":532.5,"wires":[]},{"id":"eb1d1e5.6e873e","type":"inject","z":"deb0d57.1c46528","name":"simulate healthy","topic":"","payload":"{\"message\":\"simulatehealthy\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":40,"wires":[["77762911.76d56","f3614de8.89d12"]]},{"id":"77762911.76d56","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"switch","format":"json","data":"d","qos":0,"name":"IBM IoT","service":"registered","x":365,"y":39.25,"wires":[]},{"id":"642c634d.e606f4","type":"inject","z":"deb0d57.1c46528","name":"simulate broken","topic":"","payload":"{\"message\":\"simulatebroken\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":80,"wires":[["2338d1ae.ab00fe","a2b99aef.f7f2d"]]},{"id":"2338d1ae.ab00fe","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"switch","format":"json","data":"d","qos":0,"name":"IBM IoT","service":"registered","x":365,"y":79.25,"wires":[]},{"id":"35401156.e7f9ce","type":"inject","z":"deb0d57.1c46528","name":"disable simulator","topic":"","payload":"{\"message\":\"disablesimulator\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":120,"wires":[["ad33cfff.78ff38"]]},{"id":"ad33cfff.78ff38","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"switch","format":"json","data":"d","qos":0,"name":"IBM IoT","service":"registered","x":365,"y":119.25,"wires":[]},{"id":"510a361.5e24748","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"to_healthy","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":70,"y":200,"wires":[["f3614de8.89d12"]]}]
